p {
    color: green;
  }

  a {
    color: blueviolet;
  }

  h1 {
    color: rgb(0, 255, 123);
  }

  h2 {
    color: rgb(0, 255, 123);
  }

  h3 {
    color: rgb(0, 255, 123);
  }

  h4 {
    color: rgb(63, 130, 218);
  }

  ul {
    color: blueviolet;
  }